{% load static %}

<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Post</title>
  
  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js" ></script>
  <script src="{% static 'js/materialize.js' %}"></script>
  <script src="{% static 'js/init.js' %}"></script>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="{% static 'css/materialize.css' %}" type="text/css" rel="stylesheet" media="screen,projection" />
  <link href="{% static 'css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection" />
</head>

<body>
<nav class="light-blue lighten-4 " role="navigation">{% csrf_token %}
    <div class="nav-wrapper container">
      <a id="logo-container" href="{% url 'index'%}" class="brand-logo" >Animal</a>
      <ul class="right hide-on-med-and-down">
        <li><a id="category-bar" name ="category-bar" class="dropdown-trigger" data-target="dropdown1">목차<i class="material-icons right">arrow_drop_down</i></a></li>

        <li class="z-depth-0" style="border-width:0px">
        <nav class="z-depth-0 light-blue lighten-4 " > 
            <div class="nav-wrapper z-depth-"  style="border-width:0px">
              <form id="nav_seach" name="nav_seach">
                <div class="input-field z-depth-0" style="border-width:0px">
                  <input id="search" type="search" required name="q" value="{{ request.GET.q }}">
                  <label class="label-icon" for="search"><i class="material-icons grey-text text-darken-3">search</i></label>
                  <i class="material-icons">close</i>
                </div>
              </form>
            </div>
          </nav>
        </li>

        <li>
        <a class="dropdown-trigger" href="{% if user.is_authenticated %}#!{% else %}{% url 'login' %}{% endif %}" {% if user.is_authenticated %} data-target="dropdown2"{% else %}{% endif %}>{% if user.is_authenticated %}{{ user.username }}<i class="material-icons left">account_box</i>{% else %}Login<i class="material-icons left">login</i>{% endif %}</a>
        </li>
      </ul>
    </div>
</nav>

<!-- Dropdown for user -->
<ul id="dropdown2" name="dropdown2" class="dropdown-content">
  {% if user.is_authenticated %}
  <li><a href="{% url 'profile' user.username %}">프로필</a></li>
  <li><a href="{% url 'admin:post_post_add' %}">글쓰기</a></li>
  <li><a href="{% url 'change_password' %}">비밀번호 변경</a></li>

  <li class="divider"></li>
      <li><a href="{% url 'logout' %}">Log out</a>
  {% endif %}
</ul>
<!-- Dropdown Structure -->
 <ul id="dropdown1" name="dropdown1" class="dropdown-content">
      {% for category in categories%}
        <li><a href="{{category.get_absolute_url}}">{{category.title}}</a></li>
      {% endfor%}
  </ul>

{% block banner %}

{% endblock banner %}

  <div class="container">
    <div class="section">
        {% block content %}

        {% endblock %}
        {% block pagination %}
        
        {% endblock %}
        
    </div>
  </div>

  <footer class="page-footer teal indigo lighten">
    <div class="container">
      <div class="row">
        <div class="col l2 s6">
           <h5 ><a class="white-text" href="{% url 'index' %}">Animal</a></h5>
        </div>
        
        <div class="col l5 s6">
          <h5 class="white-text">Contact Us</h5>
          <ul>
            <li><a class="white-text" href="{% url 'contact' %}">메일 문의</a></li>
          </ul>
        </div>
        <div class="col l5 s6">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="{% url 'signup' %}">회원가입</a></li>
            <li><a class="white-text" href="{% url 'password_reset' %}">비밀번호 찾기</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
    </div>
  </footer>


</body>

</html>