{% extends 'base.html' %}
{% load static %}

        
{% block content %}

<div class="row center-align">
    <form method="post" action="" role="form" class="col s12">
    </h3>
      <div class="row">
        {% csrf_token %}
        {{ form.id }}
        <h3>비밀번호 변경</h3>
        <div class="input-field col s12">
          {{ form.old_password }}
          <label for="old_password">이전 비밀번호</label>
        </div>
      </div>
        <div class="row">
        <div class="input-field col s12">
          {{ form.new_password }}
          <label for="new_password">새 비밀번호</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          {{ form.confirm_password }}
          <label for="password">새 비밀번호 확인</label>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <span style="color: red; font-weight: bold;">{{ form.errors }}</span>
        </div>
      </div>
    <button class="waves-effect waves-light btn light-blue lighten-4 grey-text text-darken-4" type ='submit' name='action' ><i class="large material-icons left">check</i>확인</button>
    </form>
  </div>

{% endblock %}