{% extends 'base.html' %} {% load static %} 

{% block content %}
<h5>Lastest post</h5>
<div class="divider"></div>


<div class="row">
{% for article in articles %}
  <div>
    <div class="col s12 m6">
      <div class="card">
        <div class="card-image">
        {% if article.picture %}
          <a href="{{ article.get_absolute_url }}"><img src="{{ article.picture.url }}"/></a>
          <a href="{{ article.get_absolute_url }}" ><span class="card-title">{{ article.title }}</span></a>
          {% else %}
          <img src="{% static 'img/Cute-404-page-not-found-design.jpg' %}" />
          {% endif %}
        </div>
        <div class="card-content">
          <p>{{article.content |truncatechars:150}}</p>
        </div>
        <div class="card-action">
          <a href="{{article.get_absolute_url}}">더 보기</a>
        </div>
      </div>
    </div>
  </div>
{% endfor %} 
</div>
{% endblock content %}

{% block pagination%}
<ul class="pagination center-align">
   {% if articles.has_previous %}
       <li class="waves-effect"><a href="?page={{articles.previous_page_number}}"><i class="material-icons">chevron_left</i></a></li>
   {% endif %}
    {% for i in articles.paginator.page_range %}  
          {% if articles.number == i %}     
            <li class="active"><a>{{ i }}</a> </li>
          {% else %}
            <li class="waves-effect"><a href="?page={{ i }}">{{ i }}</a></li>
          {% endif %}
      {% endfor %}
    {% if articles.has_next %}
    <li class="waves-effect"><a href="?page={{articles.next_page_number}}"><i class="material-icons">chevron_right</i></a></li>
     {% endif %}
  </ul>

{% endblock pagination %}
