{% extends 'base.html' %}

{% load static %}
{% block banner %}
  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
      
      </div>
    </div>
    <div class="parallax">
    {% if article.picture %}
    <img src="{{article.picture.url}}" alt="Unsplashed background img 2">
    {% else %}
    <img src="{% static 'img/Cute-404-page-not-found-design.jpg' %}" />
    {% endif %}
    </div>
  </div>


{% endblock banner %}

{% block  content %}

      <div class="row">
        <div class="col s12 m12">
          <div class="card">
            <ul class="collection">
              <li class="collection-item avatar">
                <i class="material-icons circle">account_circle</i>
                <span style="font-size: 24px; font-weight: bold;" class="title">분류 :</span>
                <span style="font-size: 28px;" class="title">{{article.category}}</span>
                <span style="font-size: 30px;" class="title secondary-content">{{article.created_date |date:"Y/M/d"}}</span>
                <p style="font-size: 28px;">{{article.author}}</p>
              </li>
            </ul>

            <div class="card-panel">
              <h2 class="header">
                {{article.title}}
              </h2>
              <p>
                {{article.content |safe}}
              </p>
            </div>

            <div class="card-action">
              <span style="font-size: 20px;" class="title">태그 : </span>
                {% for tag in article.tags.all %}
                  <div class="chip"><a href ="{{tag.get_absolute_url}}">{{tag.title}}</a></div>
                {% endfor %}
              

            </div>
          </div>
        </div>
      </div>
{% endblock %}