{% extends 'base.html' %} {% load static %} {% block content %}

<div class="col s12">
  <div class="row">
    <div class="col s5 m12">
      <div class="card">
        <div class="card-image">
          <img src="{% static 'img/Choosing-Perfect-WordPress-User-Role-Profile-Builder-Banner.png' %}" />
          {% if profile.picture %}
          <a href="{{ profile.get_absolute_url }}"><img
              id="img-circle-custom-profile"
              src="{{ profile.picture.url }}"/></a>
          {% else %}
          <img
            id="img-circle-custom-profile"
            src="{% static 'img/person.jpg' %}"
          />
          {% endif %}
          <h1 style="font-weight: bold font-color:black" class="card-title">
          {% if profile.name %}
             {{profile.name }}
            {% endif %}
          </h1>
        </div>

        <div class="card-action">
          {% if user.is_authenticated and user == profile.user %}
          <a
            href="{% url 'edit_profile' %}"
            class="waves-effect waves-light btn right"
            >프로필 수정</a>
          {% endif %} {% if profile.url %}
          <h6 style="font-weight: bold">URL:</h6>
          <span>{{ profile.url }}</span>
          {% endif %} {% if profile.profile_info %}
          <h6 style="font-weight: bold">정보:</h6>
          <span>{{ profile.profile_info }}</span>
          {% endif %}
        </div>
        <div class="card-content">
          <h1 style="font-weight: bold" class="card-title">좋아하는 기사</h1>

          <div class="row">
            {% for article in articles %}
            <div class="col s12 m4">
              <div class="card">
                <div class="card-image">
                  {% if article.picture %}
                  <a href="{{ article.get_absolute_url }}"
                    ><img src="{{ article.picture.url }}"
                  /></a>
                  {% else %}
                  <img src="{% static 'img/Cute-404-page-not-found-design.jpg' %}" />
                  {% endif %}
                  <a href="{{ article.get_absolute_url }}"
                    ><span class="card-title">{{ article.title }}</span></a
                  >
                </div>
                <div class="card-content">
                  {{ article.content|truncatechars:150 | safe }}
                </div>
                <div class="card-action">
                  <a href="{{ article.get_absolute_url }}">자세히 보기</a>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


  {% endblock content %} 
  
  {% block pagination%}

  <ul class="pagination center-align">
    {% if articles.has_previous %}
    <li class="waves-effect">
      <a href="?page={{articles.previous_page_number}}"
        ><i class="material-icons">chevron_left</i></a
      >
    </li>
    {% endif %} 
    {% for i in articles.paginator.page_range %} 
    {% if articles.number == i %}
    <li class="active"><a>{{ i }}</a></li>
    {% else %}
    <li class="waves-effect"><a href="?page={{ i }}">{{ i }}</a></li>
    {% endif %} 
    {% endfor %}
     {% if articles.has_next %}
    <li class="waves-effect">
      <a href="?page={{articles.next_page_number}}"><i class="material-icons">chevron_right</i></a>
    </li>
    {% endif %}
  </ul>

  {% endblock pagination %}
