{% extends 'base.html' %}
{% load static %}
{% block banner %}

    <div class="row" >
        <div style="background-color: #ffff80;" class="col s12 m12 center-align">
            <i class="material-icons medium">label</i>
            <h5>-------태그-------</h5>
            <h3>{{tag}}</h3>
        </div>
    </div>

{% endblock banner %}

{% block  content %}
     {% for article in articles %}
        <div>
          <div class="col s12 m6">
            <div class="card">
              <div class="card-image">
              {% if article.picture %}
              <a href="{{ article.get_absolute_url }}"><img src="{{ article.picture.url }}"/></a>
              <a href="{{ article.get_absolute_url }}" ><span class="card-title">{{ article.title }}</span></a>
              {% else %}
              <img src="{% static 'img/Cute-404-page-not-found-design.jpg' %}" />
              {% endif %}              
              </div>
              <div class="card-content">
                <p>{{article.content|truncatechars:150}}</p>
              </div>
              <div class="card-action">
                <a href="{{article.get_absolute_url}}">더 보기</a>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
{% endblock content %}