{% extends 'base.html' %}
{% load static %}

        
{% block content %}

<div class="row center-align">
    <form method="post" action="" role="form" class="col s12">
    </h3>
      <div class="row">
        {% csrf_token %}
        {{ form.id }}
        <h3>새 비밀번호 설정</h3>
      </div>
      {% if validlink %}
        <div class="row">
        <div class="input-field col s12">
          {{ form.new_password1 }}
          <label for="new_password1">새 비밀번호</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          {{ form.new_password2 }}
          <label for="new_password1">새 비밀번호 확인</label>
        </div>
      </div>
      {% else %}
      <div class="row">
        <div class="col s12">
          <span style="color: red; font-weight: bold;">비밀번호 변경에 실패하였습니다. 이미 사용중인 비밀번호 입니다. </span>
        </div>
      </div>
      {% endif %}
      <button class="btn waves-effect waves-light" type="submit" name="action"><i class="material-icons left">send</i>비밀번호 변경</button>
    </form>
  </div>

{% endblock %}